# Domino pixelmap data
_pixelmaps/
_pixelmaps/*

# notebooks
notebooks/
notebooks/*

# JSON
*.json

# VSCODE
*.code-workspace

# POETRY
poetry.lock

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*

# dist
dist/
dist/*
